fastapi==0.135.2
uvicorn==0.42.0

sqlmodel==0.0.37
SQLAlchemy==2.0.48

python-jose==3.5.0
passlib[bcrypt]==1.7.4

python-multipart==0.0.22
email-validator==2.3.0

python-dotenv==1.2.2

# opcional pero útil
httpx==0.28.1

psycopg[binary]

pwdlib